<div class="login-page">
  <h1>Sign In</h1>
  <%= form_tag sessions_path do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email, "", class: "form-control" %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: "form-control" %>
  </div>
  <div class="segment col-sm-12"></div>
  <%= submit_tag "Sign in", class: "btn btn-menu" %>
  <% end %>
</div>
