<h1>Character</h1>
<div class="col-sm-12 text-center full-height">
  <% if @game_character %>
    <div class="card">
      <img class="card-img-top" src="/images/pathToYourImage.png"
       alt="Card image cap">
       <div class="card-block">
         <h4 class="card-title"><%= @game_character.name %></h4>
         <p class="card-text"> Level: <%= @game_character.level %></p>
         <p class="card-text"> Exp: <%= @game_character.xp %></p>
         <p class="card-text"> Gold: <%= @game_character.gold %></p>
         <p><%= link_to "Login", signin_with_fitbit_path, class: "btn btn-primary btn-block" %></p>
        </div>
    </div>
  <% else %>
    <%= link_to "Create_Character", signin_with_fitbit_path, class: "btn btn-warning" %>
  <% end %>
</div>
