<h1><%= @game_character.name %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Exp</th>
      <th>Gold</th>
      <th>Strength</th>
      <th>Constitution</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @game_character.level %></td>
      <td><%= @game_character.xp %></td>
      <td><%= @game_character.gold %></td>
      <% if @game_character.xp > $strength_xp_cost %>
        <td><%= @game_character.game_character_attributes.find_by_stat_id(13).value %> <%= link_to fa_icon("plus-square") + " Exp cost: #{$strength_xp_cost}", user_game_character_add_strength_path(current_user, @game_character), method: :put %> </td>
      <% else %>
        <td><%= @game_character.game_character_attributes.find_by_stat_id(13).value %></td>
      <% end %>
      <% if @game_character.xp > $constitution_xp_cost %>
        <td><%= @game_character.game_character_attributes.find_by_stat_id(14).value %> <%= link_to fa_icon("plus-square") + " Exp cost: #{$constitution_xp_cost}", user_game_character_add_constitution_path(current_user, @game_character), method: :put %> </td>
      <% else %>
        <td><%= @game_character.game_character_attributes.find_by_stat_id(14).value %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= high_chart("my_id4", @chart) do |c| %>
  <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' mins';}"  %>
  <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
<% end %>
<%= link_to "Refresh", signin_with_fitbit_path, class: "btn btn-danger" %>
